/*This file holds the css styling for the webpage*/ 
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
}

#map {
   height: 100%;
}

/* Settings styles */
#settings {
    position: absolute;
    top: 0px;
    right: 0;
    height: 40px;
    border-bottom: 1px solid grey;
}
