/*This file holds the css styling for the webpage*/ 
html, body {
   height: 100%;
   margin: 0;
   padding: 0;
   font: Arial, Helvetica, sans-serif;
}

#map {
   height: 100%;
}

#flights_number {
    position:absolute;
    bottom: 0;
    z-index: 2;
    text-align: center;
    font-weight: bold;
    width: 50px;
    box-sizing: border-box;
    background-color: #232323;
    color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.4);
    margin:0 auto;
    left: 49%;
}

/**
 * Menu overview.
 */
.c-menu {
  position: fixed;
  z-index: 200;
  background-color: #ffffff;
  transition: transform 0.3s;
  color: #808080;
  font: Arial, Helvetica, sans-serif;
}

.c-menu__items {
  list-style: none;
  margin: 0;
  padding: 4px 0px 4px 0px;
  color: #808080;
  font: Arial, Helvetica, sans-serif;
}

/**
 * Close button resets.
 */
.c-menu__close {
  color: #fff;
  font: Arial, Helvetica, sans-serif;
  background-color: #3F1A5F;
  font-size: 14px;
  border: none;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

/**
 * Close button resets.
 */
.c-menu__close:focus {
  outline: none;
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu {
  overflow: hidden;
}

/**
 * Mask component
 */

.c-mask {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 0;
  height: 0;
  background-color: #000;
  opacity: 0;
  transition: opacity 0.0s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active {
  width: 100%;
  height: 100%;
  opacity: 0.0;
  transition: opacity 0.0s;
}

.c-menu--slide-left {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    width: 300px;
  }
}

.c-menu--slide-left .c-menu__item {
  display: block;
  text-align: left;
  border-bottom: none;
  border-top: none;
  color: #737373;
  font: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration:none;
}

.c-menu--slide-left .c-menu__item:first-child {
  border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child {
  border-bottom: none;
}

.c-menu--slide-left .c-menu__link {
  display: block;
  padding: 12px 24px;
  color: #808080;
  text-decoration:none;
}

.c-menu--slide-left .c-menu__close {
  display: block;
  padding: 12px 24px;
  width: 100%;
}

.c-menu--slide-left {
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

@media all and (min-width: 320px) {
  .c-menu--slide-left {
    transform: translateX(-300px);
  }
}

.c-menu--slide-left.is-active {
  transform: translateX(0);
}

#c-button--slide-left {
    background-color: white;
    border: 2px solid #fff;
    border-radius: 1px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    text-align: center;
    color: rgb(25,25,25);
    font: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    margin-top: 15px;
    padding-right: 5px;
}

#c-button-plane-control {
    background-color: white;
    border: 2px solid #fff;
    border-radius: 1px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    text-align: center;
    color: rgb(25,25,25);
    font: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

#c-button-square-control {
    background-color: white;
    border: 2px solid #fff;
    border-radius: 1px;
    box-shadow: 0 2px 6px rgba(0,0,0,.3);
    cursor: pointer;
    text-align: center;
    color: rgb(25,25,25);
    font: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding-left: 5px;
    padding-right: 5px;
}

#iw-container {
    width: 220px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: gray;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 170px;
    width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
}

#parent1{
width: 200px;
height: 170px;
}

.child_div{
    float:left;
}

.secondChild_div{
    float:left;
    width:150px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}


